:root{
    --blue: #7DB5FA;
    --darkBlue: #1A3B54;
    --bgIconColor: #FBFBFC;
    }
.dashboard{
    padding: 40px 0 0 30px;
}
.dashboard h1{
    color: var(--darkBlue);
}
.dashboard-card{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1rem;
}
.BgCards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: red;
    margin-right: 1rem;
    min-width: 400px;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgIconColor);
    min-width: 220px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 3px 2px 1px var(--darkBlue);
    position: relative;
    z-index: 1;
}

.block::after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: var(--blue);
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    clip-path: ellipse(175px 160px at -30% -36%);
  }
  .block:hover::after {
    top: 0;
    left: 0;
    clip-path: ellipse(155px 140px at 10% -6%);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 1;
  }

.block i{
font-size: 35px;
margin-right: 15px;
color: var(--darkBlue);
}
.card-text{
    display: flex;
    flex-direction: column;
    color: var(--darkBlue);
    /* background-color: red; */
}


